LLM_API_KEY=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
LLM_BASE_URL=https://integrate.api.nvidia.com/v1
MODEL_NAME=meta/llama-3.1-70b-instruct
TELEGRAM_BOT_TOKEN=8710617214:AAGi12QxZlf9u-608tBfQWFFiqwFPzaudLU
TELEGRAM_CHANNEL_ID=-1003980768941
MAX_RETRIES=3
DATABASE_URL=postgresql+asyncpg://ai_news_user:ai_news_pass@localhost:5432/ai_news_db
REDIS_URL=redis://localhost:6379/0
